//color main
$color-m: #03AE66;
// active Sidebar
$color-a: #0DD469;
//focus dong tren grid
$color-f: #cce8ff;
//hover color
$color-h: #e5f3ff;
//link color
$color-l: #0997eb;
//hover icons,xoa, huy
$color-d: #0DD469;
//background cua Menu SideBar
$color-bg-ms: #24344b;
// background
$color-bg: #0DD469;
//gradient
$color-gr: #cce8ff;
//header gridpanel
$color-h-gr: #e5f3ff;
//
$color1: #4d4f5c;
//
$color2: #b1b1b1;
//
$color3: #cccccc;
//
$color2: #e0e0e0;
//
$color1: #eeeeee;