.content-table {
    width: 100%;
    height: calc(100% - 200px);
    margin: 0 10px;
    border: 1px solid #000;
}

table {
    border-collapse: collapse;
    display: flex;
}

.tb-name {
    text-align: center;
}

.-col-1 {
    flex: 1;
}

.-col-2 {
    flex: 2;
}

.-col-4 {
    flex: 6;
}

.-col-5 {
    flex: 10;
}

.col-3 {
    flex: 4;
}

.tb-name {
    border: 1px solid #000;
    text-align: center;
}