* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: GoogleSans-Regular;
    font-size: 13px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'OpenSans-Semibold', 'OpenSans-Bold', 'OpenSans-Italic', 'OpenSans-Light', 'OpenSans-LightItalic', 'OpenSans-Regular';
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../../Fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../../Fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../../Fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../../Fonts/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../Fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../../Fonts/OpenSans-Semibold.ttf');
}

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}


/* css input  */

.m-lable {
    padding: 8px 0px;
}

.m-input {
    height: 40px;
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    outline: none;
}

.m-input:focus {
    border: #019160 1px solid;
}

.require {
    color: red;
}


/* css grid */

.col-4 {
    width: 33.33333%;
    padding: 10px 5px;
    box-sizing: border-box;
}

.col-8 {
    width: 66.66666%;
    padding: 10px 5px;
    box-sizing: border-box;
}