/* logo */

.body-left .logo-site {
    width: 100%;
    height: 60px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #000;
    padding: 0 0 0 10px;
}

.logo-site .emis-logo {
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
    background-image: url(../../ImagesIcons/ic_KhoanThu_56.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
}

.e-text-logo {
    font-size: 20px;
    color: white;
    width: 135px;
    text-align: left;
    padding: 0 0 0 5px;
}

.logo-site .e-menu-bar {
    background-image: url(../../ImagesIcons/white_bat.jpg);
    width: 40px;
    height: 40px;
    color: white;
    align-items: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 40px 40px;
}


/* nav bar */

.body-left .navbar {
    width: 100%;
    height: calc(100% - 61px);
    color: white;
}

.body-left .navbar .navbar-item {
    padding: 0 0px 0 10px;
    display: flex;
    height: 50px;
    align-items: center;
    cursor: pointer;
}

.body-left .navbar .navbar-item:hover {
    background-color: #4d4f5c;
}

.navbar-item:focus {
    background-color: #4d4f5c;
    border-left: 2px solid #0dd469;
    color: #0dd469;
}

.body-left .navbar .navbar-item .navbar-icon {
    margin: 0 16px 0 0;
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    background-size: contain;
}

.icon-overview {
    background-image: url(../../ImagesIcons/ic_TongQuan_32.svg);
}

.icon-plan {
    background-image: url(../../ImagesIcons/ic_LapKeHoachThu_32.svg);
}

.icon-manager {
    background-image: url(../../ImagesIcons/ic_QuanLyThu_32.svg);
}

.icon-bill {
    background-image: url(../../ImagesIcons/ic_HoaDon_32.svg);
}

.icon-getmoney {
    background-image: url(../../ImagesIcons/ic_SoThu_32.svg);
}

.icon-report {
    background-image: url(../../ImagesIcons/ic_BaoCao_32.svg);
}

.icon-message {
    background-image: url(../../ImagesIcons/ic_TinNhan_32.svg);
}

.icon-system {
    background-image: url(../../ImagesIcons/ic_HeThong_32.svg );
}